.containerCheckbox {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}

@media (max-width: 1230px) {
    .containerCheckbox {
        top: 0.5rem;
    }
}

.checkbox {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 100px;
}

.checkboxLabel {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ball {
        background-color: #fff;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }
}

.checkbox:checked + .checkboxLabel .ball {
    transform: translateX(24px);
}

.dark .checkboxLabel {
    background-color: #444; /* Example dark mode background color */
}

.dark .ball {
    background-color: #ccc; /* Example dark mode ball color */
}
