.tableContainer {
    overflow-x: auto;
    margin: 1.25rem 0;

    -webkit-overflow-scrolling: touch; // Suaviza o scroll no iOS

    &::-webkit-scrollbar {
        height: 8px; // Altura da barra de rolagem horizontal
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; // Cor do fundo da barra de rolagem
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888; // Cor da barra de rolagem
        border-radius: 16px;

        &:hover {
            background: #555; // Cor da barra de rolagem ao passar o mouse
        }
    }
}

.emptyText {
    font-weight: 500;
    font-style: italic;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-size: 1rem;
        color: var(--gray-400);
    }

    th,
    td {
        padding: 0.625rem;
        // border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }
}
