.containerTable {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50vw;

    .titleTable {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
