.primaryButton {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    background-color: #49b4bb;
}

.primaryButton:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #42c9d3;
}

.secondaryButton {
    background-color: transparent;
    color: #49b4bb;
    box-shadow: none;
}

.secondaryButton:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #d9f1f3;
}

.smButton {
    padding: 0.375rem 0.75rem;
    width: 7.5rem;
    font-size: 0.875rem;
}

.mdButton {
    padding: 0.625rem 0.875rem;
    width: 8.75rem;
    font-size: 1rem;
}

.lgButton {
    padding: 0.75rem 1rem;
    width: 11.25rem;
    font-size: 1.125rem;
}
